.items-container {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 40px;
}

.items-container h3 {
  align-self: flex-start;
  font-size: 20px;
}

.jumbotron{
  
  border: 1px solid black;
}

.fa-trash, .fa-edit {
  margin: 0px 5px 0px 5px; 
}
